* {
    font-family: Helvetica, arial, sans-serif;
}
.header {
    background-color: #999;
    font-size: 100%;
    text-align: center;
    width: 20%;
    margin: auto;
}

.container {
    border: thin solid black;
    height: 80%;
    width: 80%;
    min-width: 500px;
    display: flex;
    margin: auto;
}

#fixed {
    border: thin solid black;
    min-height: 10vh;
    margin: auto;
    text-align: center;
    padding: 2%;
    overflow: auto;
}

p#enter {
    font-size: 80%;
    line-height: 10%;
    vertical-align: top;
}

#inputOne {
    border: thin solid green;
    height: 5%;
    width: 45%;
    flex: 2;
    margin: auto;
    text-align: center;
}

#inset {
    border: thin solid red;
    height: 100%;
    width: 100%;
    min-width: 300px;
    overflow: auto;
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
}

.bottom {
    display: flex;
    border: thin solid orange;
    height: 40px;
    width: 80%;
    display: flex;
    margin: auto;
    min-width: 500px;
    font-size: 20px;
}

#inputMsg {
    flex: 2;
    font-size: 16px;
}

li#msg {
    margin-right: 5%;
    list-style-type: none;
}